<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.postopgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Welcome_Screen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FaqRhino"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Welcome_Screen"
            android:parentActivityName=".IAmA"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IAmA" />
        </activity>
        <activity
            android:name=".Sinus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DCRhino"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RestRhino"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RhinoMeds"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DCSinus"
            android:parentActivityName=".Sinus"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
        <activity
            android:name=".FaqSinus"
            android:parentActivityName=".Sinus"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
        <activity
            android:name=".RestSinus"
            android:parentActivityName=".Sinus"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
        <activity
            android:name=".SinusMeds"
            android:parentActivityName=".Sinus"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
        <activity
            android:name=".IAmA"
            android:screenOrientation="portrait">
            <intent-filter>
                /**Makes this the first activity to launch*/
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doc_Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doc_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doc_Registry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doc_Forgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhysInf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewOp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageOps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageOpDisamb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditOpInfo"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Advice"></activity>
    </application>

</manifest>