<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasan.postopgo">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens android:compatibleWidthLimitDp="320" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome_Screen"
            android:parentActivityName=".IAmA"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IAmA" />
        </activity>
        <activity
            android:name=".IAmA"
            android:screenOrientation="portrait">
            <intent-filter>
                /**Makes this the first activity to launch*/
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doc_Screen"
            android:parentActivityName=".IAmA"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IAmA" />
        </activity>
        <activity
            android:name=".Doc_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doc_Registry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doc_Forgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhysInf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewOp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageOps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageOpDisamb"
            android:parentActivityName=".ManageOps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditOpInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Advice"
            android:screenOrientation="portrait" />
        <activity android:name=".Contact" />
        <activity android:name=".Settings" />
        <activity android:name=".Legal"></activity>
    </application>

</manifest>